{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block im %}
<img src="/media/pages/img_2.png" style="position:fixed; z-index: -1; width: 100vw">
    <div class="col-md-6" style="  padding: 70px  70px 100px 100px; height: 100vh; width:100vw;  color: whitesmoke;  " >

        <form method="POST" style="width: 500px; ">
            {% csrf_token %}
            <h3 style="z-index: 1">Login</h3>
            <hr>
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-primary mt-3 w-100" type="submit">Submit</button>
            </div>
            <div class="mt-2 mb-2">
                <small class="">
                    <a class="text-decoration-none text-danger" href="{% url 'accounts:password_reset' %}">Forgot Password?</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3" style="width: 500px;">
            <small class="text-muted">
                New Here? <a class="text-decoration-none" href="{% url 'accounts:user_register' %}">Create account</a>
            </small>
        </div>
    </div>

{% endblock %}

