{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block im %}
    <div class="col-md-6" style="background-color: black; color:whitesmoke; width: 100vw; height: 100vh">
        <form method="POST" style="width: 700px;">
            {% csrf_token %}
            <h3>Reset Password</h3>
            <hr>
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-primary mt-3 w-100" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock %}